body{
    text-align: center;
    font-family: 'Comic Sans MS', sans-serif;
}
li{
    display: block;
    font-size: 30px;
    background-color: #28282B;
    margin: 20px;
    color: white;
    padding: 10px;
    border-radius: 50px;
    border: 4px solid white;
} 
p{
    font-size: 40px;
} 
h2{
    font-size: 70px;
}
.listthing{
    background: #000000;
    border-radius: 60px;
    padding: 25px;
    border: 5px solid #FF0800;
    color: white;
}
button{
    border: 3px solid white;
    border-radius: 40px;
    color: white;
    background-color: #FF0800;
    padding: 10px;
}
button:hover{
    background-color: #CF0800;
    cursor: pointer;
}
.here{
    width: 50%;
    display: inline-block;
}