body{

    color: blue;
}
footer{
    width: 1440px;
    height: 178px;
    flex-shrink: 0;
    

    color: #FFF;
    font-family: 'Comic Sans MS', cursive;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #28282B;

}

