body{
    margin: 0;
    padding-top: 5vw;
}
.desktop5{

    color:#28282B;
    font-family: 'Comic Sans MS', cursive;
}

.etusivu_kuva{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5vw;
}

.aboutus{
    color:#28282B;
    font-family: 'Comic Sans MS', cursive;
    padding-left: 1vw;

}

.privacypolicy {
    font-family: 'Comic Sans MS', cursive;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.privacypolicy h1 {
    font-size: 28px;
    margin: 0 0 20px;
}

.privacypolicy h2 {
    font-size: 20px;
    margin: 20px 0 10px;
}

.privacypolicy p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 10px;
}

.privacypolicy ul {
    list-style-type: disc;
    margin: 0 0 10px 20px;
}


.aboutus {
    font-family: 'Comic Sans MS', cursive;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.aboutus h1 {
    font-size: 28px;
    margin: 0 0 20px;
}

.aboutus h2 {
    font-size: 20px;
    margin: 20px 0 10px;
}

.aboutus p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 10px;
}

.aboutus ul {
    list-style-type: disc;
    margin: 0 0 10px 20px;
}


@media screen and (max-width: 600px) {
    .privacypolicy {
        padding: 10px;
    }

    .privacypolicy h1 {
        font-size: 24px;
    }

    .privacypolicy h2 {
        font-size: 18px;
    }

    .privacypolicy p {
        font-size: 14px;
    }
    .aboutus {
        padding: 10px;
    }

    .aboutus h1 {
        font-size: 24px;
    }

    .aboutus h2 {
        font-size: 18px;
    }

    .aboutus p {
        font-size: 14px;
    }
}


