body{
    margin: 0;
}
.desktop5{

    color: rgb(0, 0, 0);
    font-family: 'Comic Sans MS', cursive;
}

footer {
    background-color: #28282B; 
    color: #fff; 
    font-family: 'Comic Sans MS', cursive;
    width: 100%;
}

footer a {
    color: #fff; 
    text-decoration: none;

}
.footer_copy, .footer_info{
    flex: 1;
    text-align: center;
}
.footer_info{
    text-align: left;
}

.footer_copy{
    text-align: center;
}

